/*font-family: 'IBM Plex Sans', sans-serif;*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #EFEFEF;
  color: #333;
  font-size: 14px;
}

.white-section {
  background-color: #fff;
  width: 100%;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #EFEFEF;
}

.container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.top-nav-menu {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding-left: 0;
  padding-top: 16px;
  padding-bottom: 16px;
}

.top-nav-menu > li {
  margin-left: 10px;
  margin-right: 10px;
}

.top-nav-menu > li > a {
  text-decoration: none;
  color: #333;
  transition: .2s ease-in;
}
.top-nav-menu > li > a:hover {
  font-weight: 700;
  color: #74187c;
  border-bottom: 3px solid #74187c;
}

.header-top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-top-section__logo {
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-top-section__logo-word {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  color: #74187c;
  text-transform: uppercase;
}

.header-top-section__contact {
  width: 340px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phone {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #000;
  transition: .2s ease-in;
}
.phone:hover {
  color: #74187c;
}

.header-bot-section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.header-bot-section__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.header-bot-section__menu-item {
  margin-right: 40px;
  font-weight: 400;
}
.header-bot-section__menu-item > a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  line-height: 19px;
  transition: .2s ease-in;
}
.header-bot-section__menu-item > a:hover {
  font-weight: 700;
  color: #74187c;
  border-bottom: 3px solid #74187c;
}
.header-bot-section__menu-item:last-child {
  margin-right: 0;
}

.button--basic {
  display: block;
  padding-left: 27px;
  padding-right: 27px;
  height: 40px;
  background: #FFF;
  line-height: 36px;
  color: #000;
  text-decoration: none;
  border: 2px solid #74187c;
  border-radius: 40px;
  transition: .2s ease-in;
}
.button--basic:hover {
  color: #fff;
  background-color: #74187c;
}

.button--solid {
  display: block;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
  height: 35px;
  max-width: 130px;
  background: #74187c;
  border-radius: 35px;
  line-height: 34px;
  text-decoration: none;
  color: #fff;
  transition: .07s ease-in;
}
.button--solid:hover {
  color: #74187c;
  background-color: #fff;
  border: 2px solid #74187c;
  line-height: 30px;
  text-decoration: none;
}

.button--white {
  display: block;
  padding-left: 27px;
  padding-right: 27px;
  text-align: center;
  height: 40px;
  background: #74187c;
  line-height: 36px;
  color: #fff;
  text-decoration: none;
  border: 2px solid #FFF;
  border-radius: 40px;
  transition: .2s ease-in;
}
.button--white:hover {
  color: #74187c;
  background-color: #fff;
}

main {
  background-color: #74187c;
  height: 604px;
  width: 100%;
  color: #fff;
}

.main-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-info {
  min-width: 300px;
  margin-left: 0;
  margin-right: 50px;
}

.main-info__header {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 50px;
}

.main-info__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 50px;
}

.main-info__button {
  max-width: 170px;
  padding-left: 27px;
  padding-right: 27px;
  margin-right: 0;
}

.main-info__image {
  transform: translateX(100px);
}

.special {
  padding-top: 80px;
  padding-bottom: 100px;
}

.special__content-header {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 40px;
}

.special__content-cards {
  display: flex;
  justify-content: space-between;
}

.card {
  background-color: #fff;
  padding: 25px 30px;
  text-align: center;
  max-width: 255px;
}

.card__img {
  margin-bottom: 20px;
}

.card__text {
  max-width: 200px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
  color: #333;
}

.card__price {
  display: block;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  color: #000000;
}

.promo-row {
  display: flex;
  justify-content: center;
}

.promo-row-mail {
  display: flex;
  align-items: center;
}

.promo-card {
  background-color: #74187c;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-right: 45px;
  padding-left: 45px;
  width: auto;
  max-height: 220px;
}

.promo-row-mail_content {
  max-width: 260px;
  margin-right: 65px;
}

.promo-row-mail__content-header, .promo-row-map__content-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #FFF;
}

.promo-row-mail__content-header {
  margin-bottom: 8px;
}

.promo-row-mail__content-text, .promo-row-map__content-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFF;
}

.promo-row-mail__content-text {
  margin-bottom: 15px;
}

.promo-row-mail__content-input {
  width: 225px;
  height: 35px;
  padding-left: 15px;
  background: #FFFFFF;
  border-radius: 30px;
  border: none;
  outline: none;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 35px;
  color: #333;
}

.promo-row-mail__content-description {
  max-width: 205px;
  font-weight: 400;
  font-size: 10px;
  line-height: 115%;
  color: #FFF;
  opacity: 0.5;
}
.promo-row-mail__content-description > a {
  color: #FFF;
  opacity: 0.5;
}

.promo-row-mail__submit {
  width: 140px;
  height: 140px;
  border: none;
  background-image: url("../img/icons/envelope.svg");
  background-color: transparent;
  cursor: pointer;
  cursor: hand;
}

/*# sourceMappingURL=main.css.map */
