.button--basic {
    display: block;
    padding-left: 27px;
    padding-right: 27px;
    height: 40px;

    background: #FFF;
    line-height: 36px;
    color: #000;
    text-decoration: none;

    border: 2px solid $accent;
    border-radius: 40px;

    transition: .2s ease-in;

    &:hover {
        color: #fff;
        background-color: $accent;
    }

}

.button--solid {
    display: block;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
    height: 35px;
    max-width: 130px;

    background: $accent;
    border-radius: 35px;

    line-height: 34px;
    text-decoration: none;
    color: #fff;

    transition: .07s ease-in;

    &:hover {
        color: $accent;
        background-color: #fff;
        border: 2px solid $accent;
        line-height: 30px;
        text-decoration: none;
    }

}

.button--white {
    display: block;
    padding-left: 27px;
    padding-right: 27px;
    text-align: center;
    height: 40px;

    background: $accent;
    line-height: 36px;
    color: #fff;
    text-decoration: none;

    border: 2px solid #FFF;
    border-radius: 40px;

    transition: .2s ease-in;

    &:hover {
        color: $accent;
        background-color: #fff;
    }
}

