.copyright-section {
    padding-top: 25px;
    padding-bottom: 25px;
}

.copyright-section-content {
    display: flex;
    justify-content: space-between;
}

.copyright-info, .copyright-privacy  {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
}
