.footer {
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 240px;
}
.footer__icons-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;

    width: 45px;
    height: 45px;
    background: #FFF;
    border: 2px solid $accent;
    border-radius: 50%;
    &:last-child {
        margin-right: 0;
    }
}
.footer-phone {
    display: inline-block;
    font-weight: normal;
    font-size: 16px;
    line-height: 45px;
    & > a {
        text-decoration: none;
        color: #000;
        cursor: pointer;
    }
}
.footer-adress {
    display: inline-block;
    font-weight: normal;
    font-size: 14px;
    line-height: 45px;
}
.footer-button {
    display: block;
}
