main {
    background-color: $accent;
    height: 604px;
    width: 100%;
    color: #fff;
    
}

.main-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main-info {
    min-width: 300px;
    margin-left: 0;
    margin-right: 50px;
}
.main-info__header {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 50px;
}
.main-info__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 50px;
}
.main-info__button {
    max-width: 170px;
    padding-left: 27px;
    padding-right: 27px;
    margin-right: 0;
}

.main-info__image {
    transform: translateX(100px);
}