.special {
    padding-top: 80px;
    padding-bottom: 100px;
}
.container {
}

.special__content-header {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 40px;
}
.special__content-cards {
    display: flex;
    justify-content: space-between;
}

.card {
    background-color: #fff;
    padding: 25px 30px;
    text-align: center;
    max-width: 255px;
}
.card__img {
    margin-bottom: 20px;
}
.card__text {
    max-width: 200px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    margin-bottom: 20px;

    color: $dark;
}
.card__price {
    display: block;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.05em;

    margin-bottom: 20px;

    color: #000000;
}